{% extends 'base.html.twig' %}

{% block title %}Создание статьи{% endblock %}

{% block body %}
    <div class="container">
        <h1>Создание статьи</h1>
        {{ form(form) }}
    </div>
{% endblock %}
