{% extends 'base.html.twig' %}

{% block title %}Административный раздел{% endblock %}

{% block body %}
    <div class="container">
        <h1>Административный раздел</h1>
        <ul class="text-left">
                <li class="mb-2"><a class="btn btn-primary w-50 text-left" href="{{ path('app_admin_comments') }}">Управления комментариями.</a></li>
                <li class="mb-2"><a class="btn btn-primary w-50 text-left" href="{{ path('app_admin_tags') }}">Управления тегами.</a></li>
                <li class="mb-2"><a class="btn btn-primary w-50 text-left" href="{{ path('app_admin_articles') }}">Управление статьями</a></li>
        </ul>
    </div>
{% endblock %}
